includes:
      - conf/phpstan.common.neon
#      - dist/conf/phpstan.common.neon
#includes:
      - dist/phpstan.neon.dist
#
parameters:
#    bootstrapFiles:
#      - conf/config.php
#      - .github/linters/conf/constants.php

    ignoreErrors:
      # getimagesize is false in case of error
      -
        message: '#Ternary operator condition is always true.#'
        path: classes/MyAdminProcess.php
