includes:
      - ../../conf/phpstan.common.neon
      - ../../dist/conf/phpstan.mycms.neon

#      - ../../phpstan.neon.dist
#      - ../../.github/linters/phpstan.neon
#
parameters:
    scanDirectories:
      - ../../classes
#      - ../../dist/classes
    ignoreErrors:
      -
        message: '#Reflection error: Tracy\\IBarPanel not found.#'
        path: ../../classes/Tracy/BarPanelTemplate.php
#      -
#        message: '#Reflection error: Phinx\\Migration\\AbstractMigration not found.#' 
#        path: /github/workspace/dist/db/migrations/*.php
      - 
        message: '#Reflection error: PHPUnit_Framework_TestCase not found.#'
        path: ../../Test/*.php
#      - 
#        message: '#Reflection error: PHPUnit_Framework_TestCase not found.#'
#        path: /github/workspace/dist/Test/*.php
#      -
#        message: '#Parameter \#2 \$newvalue of function ini_set expects string, true given.#'
#        path: /github/workspace/dist/set-environment.php 
      -
        message: '#Reflection error: GodsDev\\Backyard\\BackyardMysqli not found.#'
        paths:
          - ../../classes/LogMysqli.php
          - ../../dist/prepare.php
#      -
#        message: '#Reflection error: GodsDev\\Backyard\\BackyardMysqli not found.#'
#        path: /github/workspace/classes/dist/prepare.php
      #-
    #    message: '#Reflection error: Nette\\SmartObject not found\.#'
      #  paths:
       #   - ../../classes/MyTableLister.php
     #     - ../../classes/MyCMSMonoLingual.php
      - '#Reflection error: Nette\\SmartObject not found\.#'
#      - '#Call to static method barDump\(\) on an unknown class Tracy\\Debugger.#'
#      - '#Call to static method addMessage\(\) on an unknown class GodsDev\\Tools\\Tools.#'
