parameters:
    level: 5
    bootstrapFiles:
      - ../../conf/config.php
      - ../../dist/conf/config.php
      - conf/constants.php
    scanDirectories:
      - ../../classes
      - ../../dist/classes
#Call to method controller() on an unknown class GodsDev\mycmsprojectnamespace\Controller.
    ignoreErrors:
      -
        message: '#Reflection error: Tracy\\IBarPanel not found.#'
        path: /github/workspace/classes/Tracy/BarPanelTemplate.php
      -
        message: '#Reflection error: Phinx\\Migration\\AbstractMigration not found.#' 
        path: /github/workspace/dist/db/migrations/*.php
      - 
        message: '#Reflection error: PHPUnit_Framework_TestCase not found.#'
        path: /github/workspace/Test/*.php
      - 
        message: '#Reflection error: PHPUnit_Framework_TestCase not found.#'
        path: /github/workspace/dist/Test/*.php
      -
        message: '#Parameter \#2 \$newvalue of function ini_set expects string, true given.#'
        path: /github/workspace/dist/set-environment.php 
      -
        message: '#Reflection error: GodsDev\\Backyard\\BackyardMysqli not found.#'
        path: /github/workspace/classes/LogMysqli.php
      -
        message: '#Reflection error: GodsDev\\Backyard\\BackyardMysqli not found.#'
        path: /github/workspace/classes/dist/prepare.php
      - '#Reflection error: Nette\\SmartObject not found\.#'
      - '#Call to static method barDump\(\) on an unknown class Tracy\\Debugger.#'
      - '#Call to static method addMessage\(\) on an unknown class GodsDev\\Tools\\Tools.#'
